{% extends "base.html" %}

{% block page_content %}
    {% if basket == [] %}
        <h1>Basket - Add some products</h1>
    {% else %}
        <h1>Basket - Total: £{{ total }} - 
            {% if user.is_authenticated %}
                <a href="/checkout" class="checkout-btn">Checkout</a>
            {% else %}
                <a href="/login" class="checkout-btn">Checkout</a>
            {% endif %}
        </h1> 
    {% endif %}
    <div id="all-products">
        {% for product in basket %}
            <div class="card">
                <div class="card-img-container"> 
                    {% if product.image %}
                    <a href="/display_product/{{ product.id }}">
                        <img class="card-img" src="../static/img/products/{{product.image}}" alt="Card image cap" id="product-image">
                    </a>
                    {% endif %}
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-price">Price £{{ product.price }}</p>
                    <p class="card-footprint">Carbon footprint: {{ product.carbon_footprint}}</p>
                    <form id="remove-add-btn" method="POST" action="{{ url_for('views.remove_from_basket', product_id=product.id) }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Remove from Basket</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}